:root{
    /*base colors*/
    --dark-purple: hsl(273, 85%, 13%);
    --eucalyptus: hsl(150, 100%, 63%);
    --davys-gray: hsl(271, 12%, 34%);
    --ghost-white: hsl(276, 100%, 98%);
    --white: hsl(0, 0%, 100%);

    /*headings font weight*/
    --semi-bold: 500;

    /*buttons transitions*/
    --btn-trans: all 0.3s;

    /*clip-path of background circles*/
    --bg-circles-path: ellipse(150% 95% at 50% 0);
}

/*variable fonts declarations*/
@font-face{
    font-family: 'Fraunces';
    src: url(./assets/fonts/fraunces/Fraunces-VariableFont_wght.ttf) format('truetype');
    font-weight: 1 1000;
}

@font-face {
    font-family: 'Manrope';
    src: url(./assets/fonts/manrope/Manrope-VariableFont_wght.ttf) format('truetype');
    font-weight: 1 1000;
}

/*3 below declarations are a CSS Reset*/
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    overflow-wrap: break-word;
}

button, input, textarea, select{
    font: inherit;
    color: inherit;
}

body{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    font-family: 'Manrope';
    font-size: 1.125rem;
    line-height: 2rem;
    color: var(--dark-purple);
}

/*utility classes*/
.u-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-absolute-img{
    position: absolute;
    transform: translate(-50%, -50%);
}

.u-unselectable
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1, h2, h3{
    font-family: 'Fraunces';
    font-weight: var(--semi-bold);
}

.main-heading{
    font-size: 5rem;
    line-height: 5rem;
    color: var(--white);
    margin-bottom: 2rem;
    z-index: 15;
}

h2{
    font-size: 3.5rem;
    line-height: 4rem;
}

h3{
    font-size: 2rem;
    line-height: 2.5rem;
}

/*utility class for both primary and secondary button*/
.general-btn{
    cursor: pointer;
    font-weight: 700;
    transition: var(--btn-trans);
}

.primary-btn{
    background: var(--eucalyptus);
    border: 2px var(--eucalyptus) solid;
    padding: 0.75rem 1.25rem;
    color: var(--dark-purple);
    z-index: 100;
}

.primary-btn:is(:focus, :hover){
    background: none;
    color: var(--eucalyptus)
}

/*decided to make my own style for secondary button design, might have overdone it*/
.secondary-btn{
    background: none;
    color: var(--white);
    border: none;
    position: relative;
    text-shadow: 0 0 10px hsla(0, 0%, 100%, 0.6);
}

.secondary-btn::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--eucalyptus);
    transition: var(--btn-trans);
}

.secondary-btn:is(:focus, :hover){
    color: var(--eucalyptus);
    text-shadow: none;
}

.secondary-btn:is(:focus, :hover)::after{
    width: 100%;
}

/*the purple bg and it's elements styles*/
.purple-bg{
    position: relative;
    width: 100%;
    height: 85%;
    background: var(--dark-purple);
    clip-path: var(--bg-circles-path);
    text-align: center;
    overflow: hidden;
    z-index: 5;
}

.nav{
    justify-content: space-between;
    padding: 4rem 10.5rem 2.5rem 10.5rem;
}

.main-heading>span{
    position: relative;
}

.main-heading>span::after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background: var(--eucalyptus);
    bottom: 7px;
    left: 0;
}

#hero-image{
    height: clamp(100px, 45%, 800px);
    transform: translate(-50%, -70%);
    top: 85%;
    left: 50%;
    z-index: 10;
}

#pattern1{
    top: 40%;
    left: 2%;
    z-index: -10;
}

#pattern2{
    top: 60%;
    left: 99%;
}
/*------------------------------------------------*/

/*white ellipse bg and it's elements styles*/
.ghost-white-bg{
    clip-path: var(--bg-circles-path);
    width: 100%;
    height: 90%;
    background: var(--ghost-white);
    position: relative;
    top: -85px;
    padding-top: 45px;
    gap: 4rem;
}

.info-sections{
    width: 25%;
    text-align: center;
    flex-direction: column;
    gap: 4rem
}

.info-numbers{
    border: 2px solid var(--davys-gray);
    border-radius: 50%;
    font-family: 'Fraunces';
    font-size: 1.5rem;
    width: 17.5%;
    aspect-ratio: 1/1;
}
.info-text{
    flex-direction: column;
    gap: 2rem;
}
.info-text>p{
    color: var(--davys-gray)
}
/*-----------------------------------------------*/

/*founder section styles*/
#founder-img{
    width: clamp(270px, 40%, 500px);
    aspect-ratio: 1/1;
}

.founder-section{
    margin: 0 10% 0 10%;
    position: relative;
    height: 80%;
}

.founder-description{
    background: var(--dark-purple);
    color: var(--white);
    z-index: 5;
    width: 65%;
    flex-direction: column;
    gap: 2rem;
    padding: 3.5rem;
    align-items: flex-start;
    position: absolute;
    transform: translate(-100%, -100%);
    top: 90%;
    left: 95%;
}

#pattern3{
    transform: translate(-50%, -71%);
    top: 100%;
    left: 72.5%;
}
/*----------------------------------------------------*/

/*footer and attribution styles*/
.footer{
    margin-top: 8rem;
    flex-direction: column;
    gap: 3rem;
}

.icons-container{
    gap: 1.5rem;
}

.icons-container>a:hover path{
    fill: var(--dark-purple);
    transition: var(--btn-trans);
}

.attribution{
    font-size: 0.75rem; 
    text-align: center; 
}

.attribution a{
    color: hsl(228, 45%, 44%); 
}
/*----------------------------------------*/
/*device-specific styles
tablet design*/
@media screen and (max-width: 850px){
    /*purple bg section*/
    .nav{
        padding: 2.5rem 4.5rem 3.5rem 4.5rem;
    }
    #pattern1{
        left: -5%;
    }
    .purple-bg{
        height: 75%;
    }
    #hero-image{
        top: 75%;
        height: clamp(100px, 30%, 800px);
    }

    /*white ellipse section*/
    .ghost-white-bg{
        flex-direction: column;
        gap: 3rem;
        height: 110%;
    }
    .info-sections{
        flex-direction: row;
        gap: 2.5rem;
        width: 90%;
    }
    .info-numbers{
        width: 9%;
    }
    .info-text{
        width: 70%;
        gap: 1rem;
        text-align: left;
    }
    .info-text>h3{
        width: 100%;
    }

    /*founder section*/
    .founder-section{
        margin: 0 4% 0 4%;
    }
    .founder-description{
        width: 75%;
        top: 100%;
        left: 100%;
    }
    .founder-description>h2{
        font-size: 3.5rem;
    }
    .footer{
        margin-top: 6rem;
    }
}

/*smartphone design*/
@media screen and (max-width: 500px){
    /*purple bg section*/
    #pattern1, #pattern2, #pattern3{
        display: none;
    }
    .purple-bg{
        height: 70%;
    }
    #hero-image{
        top: 70%;
        height: clamp(100px, 25%, 800px);
    }
    .nav{
        padding: 3rem 1rem 3.5rem 1rem;
    }
    .main-heading{
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .main-heading>span::after{
        bottom: 2px;
    }

    /*white ellipse section*/
    .ghost-white-bg{
        height: 165%;
        gap: 4rem;
    }
    .info-sections{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .info-text{
        width: 97.5%;
        text-align: center;
    }
    .info-numbers{
        width: 17.5%;
    }

    /*founder section*/
    .founder-section{
        text-align: center;
        height: 70%;
    }
    .founder-description{
        width: 100%;
        height: 65%;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem;
        font-size: 90%;
    }
    .founder-description>h2{
        font-size: 2rem;
        line-height: 2rem;
    }
}