@use './../abstracts/variables' as var;


/*the background used at the top of the page and their images*/
.bg-circle{
    width: 100vw;
    height: 730px;
    clip-path: ellipse(150% 95% at 50% 0);
    position: relative;
    overflow: visible;

    &__purple{
        background: var.$darkPurple;
        z-index: -10;
    }

    &__white{
        background: var.$ghostWhite;
        z-index: -11;
    }
}

.bg-pattern{
    position: absolute;
}

.hero-image{
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    z-index: 1;
}