@font-face {
    font-family: 'Fraunces';
    src: url(../assets/fonts/fraunces/Fraunces-VariableFont_wght.ttf) format('truetype');
    font-weight: 1 1000;
}
@font-face {
    font-family: 'Manrope';
    src: url(../assets/fonts/manrope/Manrope-VariableFont_wght.ttf) format('truetype');
    font-weight: 1 1000;
}